* {
  border: none;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 100px;
  background-color: rgba(5, 5, 5, 0.993);
  box-shadow: 1px 12px rgb(241, 230, 230);
}
.header img {
  width: 60%;
  height: 100px;
  margin: 0 auto;
  display: block;
}
.content {
  width: 100%;
  display: flex;
  margin-top: 20px;
}
.signin {
  width: 32%;
  padding: 20px;
  margin: 0 auto;
  border-right: 1px solid red;
}
.signin label {
  font-size: 22px;
  margin-right: 10px;
  color: rgb(0, 4, 255);
  text-shadow: 2px 2px #48ff00;
}
.signin p {
  height: 20px;
}
.signin button {
  width: 130px;
  display: inline-block;
  height: 50px;
  background-color: rgb(20, 231, 13);
  border-radius: 15px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;
}
.signin input {
  border: 1px solid black;
  width: 68%;
  height: 35px;
  border-radius: 20px;
  outline: none;
  padding-left: 10px;
}
.sub-content {
  width: 65%;
}
.sub-content {
  padding: 20px;
}
.sub-content h2 {
  color: rgb(12, 16, 238);
}
.sub-content h2 span {
  color: red;
}
.flower {
  width: 80%;
  margin: 30px auto;
  display: flex;
}
.flower img {
  width: 200px;
  height: 250px;
  margin-right: 20px;
  border: 1px solid white;
  box-shadow: 1px 1px 5px 5px #888888;
}
.sub-content h3 {
  margin-bottom: 20px;
}
.footer {
  width: 100%;
  height: 50px;
  background-color: rgb(92, 88, 88);
  color: rgb(0, 255, 0);
  text-align: center;
  line-height: 50px;
  display: flex;
}
.contact {
  width: 32%;
}
.contact svg {
  color: rgb(228, 51, 51);
  margin-right: 20px;
  font-size: large;
}
.text {
  width: 68%;
}
